@font-face {
    font-family: "Gilroy";
    src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
      url("~@/assets/fonts/gilroy-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Gilroy";
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url("~@/assets/fonts/gilroy-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Gilroy";
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url("~@/assets/fonts/gilroy-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Gilroy";
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url("~@/assets/fonts/gilroy-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }